.chart {
  margin-bottom: 20px;
}

.chart footer {
  background-color: #ccd6f6;
  height: 3px;
}

.chart footer div {
  width: 0;
  height: 100%;
  background-color: #d26cd5;
  transition-delay: 1s;
  -webkit-transition: width 2.3s ease-out;
  -o-transition: width 2.3s ease-out;
  transition: width 2.3s ease-out;
}
