.about-container {
  display: block;
}

.about-container p {
  font-size: 17px;
  font-weight: 300;
}

.photo {
  position: relative;
  max-width: 300px;
  margin: 50px auto 0px;
  width: 70%;
}

.photo .wrapper {
  box-shadow: 0 10px 10px -15px #10a37e70;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: block;
  position: relative;
  width: 100%;
  border-radius: 4px;
  background-color: #10a37f;
  border-radius: 4px;
  overflow: hidden;
}

.photo .wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background-color: #93dace;
  transition: all 0.3s linear;
}
.photo .wrapper:hover::before {
  left: 0;
}

.photo .wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background-color: #93dace;
  transition: all 0.3s linear;
}

.photo .wrapper:hover::after {
  right: 0;
}

.photo .wrapper span::before {
  content: '';
  position: absolute;
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: #93dace;
  transition: all 0.3s linear;
}
.photo .wrapper:hover span::before {
  top: 0;
}

.photo .wrapper span::after {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #93dace;
  transition: all 0.3s linear;
}

.photo .wrapper:hover span::after {
  bottom: 0;
}

.photo .wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .about-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
  }

  .photo {
    margin: 0;
    width: auto;
  }
}

@media (min-width: 1080px) {
  #about {
    max-width: 900px;
  }
}
